---
layout: default
---

{% for note in site.data.test %}
    <div id="{{ note.id }}"></div>
{% endfor %}

<p id="ttest">
ddd
</p>

<script>
var noteElement;
function addFilteredNotes() {
    var url = new URL(window.location.href);
    var semester = url.searchParams.get("semester");
    var year = url.searchParams.get("year");
    var lecturer = url.searchParams.get("lecturer");

    {% for note in site.data.test %}
        if ((semester == null || {{ note.semester }} == semester) &&
            (year == null || {{ note.year }} == year) &&
            (lecturer == null || '{{ note.lecturer }}'.includes(lecturer))) {
            noteElement = document.getElementById('{{ note.id }}');
            noteElement.innerHTML = '{{note.year}}, {{note.semester}}';
            console.log('yay');
        }
            noteElement = document.getElementById('{{ note.id }}');
            //noteElement.innerHTML = '{{note.lecturer}}~' + lecturer + '~';
        //console.log('{{ note.lecturer }}'.includes(lecturer));
        console.log(lecturer == null || '{{ note.lecturer }}'.includes(lecturer));
    {% endfor %}
}
</script>

<body onload="addFilteredNotes();">
