<hr id="footer-hr">
<footer class="small-footer">
    <div class="row">
      <div class="footer-column-1">
        <ul class="social-media">
            <li><i class="fa fa-vk"></i><a href="https://vk.com/mipt_ltc">
                    <span class="username">Клуб Теха Лекций</span>
                </a>
            </li>
            <li><i class="fa fa-github"></i><a href="https://github.com/mipt-ltc/mipt-ltc.github.io">
                    <span class="username">mipt-ltc</span>
                </a>
            </li>
            <li><i class="fa fa-github"></i><a href="https://github.com/MIPT-Group/Lectures_Tex_Club">
                    <span class="username">Lectures_Tex_Club</span>
                </a>
            </li>
        </ul>
      </div>


      <div class="footer-column-2">
          <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    <div class="foot-ending">
    <hr id="footer-end-hr">
    <i class="fa fa-copyright"></i> 2021 Клуб Теха Лекций.
          <p> С предложениями и сообщениями об ошибках можно писать нам в группу
          VK или в Issues на GitHub. 
          </p>
    </div>
</footer>

