hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ddd;
    margin: 0; 
    padding: 0; 
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.default-btn {
    display: block;
    box-sizing: border-box;
    background: #ffd0d0;
    padding: 10px; 
    border-radius: 10px;
    cursor: pointer;
}
.default-btn:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}



/*----------- ltc-hat --------------*/
#ltc-hat {
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}
#ltc-hat h1 {
    font-size: 62px;
}
#ltc-hat p {
    margin: 10px 0 40px;
    font-size: 14px;
}
#ltc-hat .default-btn {
    margin: auto;
    text-align: center;
    color: #000;
}

@media(max-width: 700px) {
    #ltc-hat h1 {
        font-size: 25px;
    }
}


/*----------- courses-nav --------------*/
#courses-nav {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 030px;
}
.semesters {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.semesters h3 {
    font-weight: 600;
    margin: 10px;
}
.semesters p {
    width: 100%;
    margin: 15px 0;
}

@media(max-width: 700px) {
    #courses-nav {
        max-width: 300px;
    }
}

/* ---------- search ------------ */
#search {
    text-align: center;
    margin-bottom: 15px;
}
#search h2 sup {
    font-size: 15px;
    cursor: pointer;
}
.search-input {
    text-align: center;
    display: inline-block;
    background: #fff3f3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 5px;
}
.code {
    background: lightgray;
    border: 1px solid gray;    
}

/*----------- subjects-list --------------*/
#notes-list, 
#subjects-list {
    text-align: center;
}
#notes-list div, 
#subjects-list div {
    margin: 10px;
    display: inline-block;
}
#notes-list .default-btn {
    text-align: left;
    max-width: 350px;
}
#notes-list hr {
    margin: auto;
    width: 50%;
}


/* --------- modal -------- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* ---------- footer -------*/
.small-footer {
    width: 80%; 
    margin: auto;
    text-align: center;
}
#notes-list div a hr { 
    border-top: 1px solid #aaa;
}
#footer-hr { 
    border-top: 1px solid #aaa;
    margin-top: 30px;
}
.social-media {
    list-style: none;
    list-style-position: inside;
    font-size: 16px;
    display: inline-block;
}
.footer-column-1,
.footer-column-2 {
    color: gray;
    margin: 0 20px;
    font-size: 16px;
}
.footer-column-1 {
    text-align: left;
    min-width: 190px;
}
.footer-column-2 {
    text-align: center;
}
.foot-ending {
    margin-top: 12px;
    font-size: 10px;
    color: #888;
}
#footer-end-hr {
    width: 50%;
    margin: auto;
}
