#ltc-hat {
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}
#ltc-hat h1 {
    font-size: 62px;
}

#ltc-hat p {
    margin: 10px 0 40px;
    font-size: 14px;
}

@media(max-width: 700px) {
    #ltc-hat h1 {
        font-size: 25px;
    }
}


/*----------- --------------*/
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
#courses-nav {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 030px;
}
.semesters {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.sem-btn {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background: #ffe0e0;
    padding: 10px; 
    border-radius: 10px;
    cursor: pointer;
}
.sem-btn:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.semesters h3 {
    font-weight: 600;
    margin: 10px;
    text-align: center;
}
.semesters ul {
    text-align: center;
    list-style: none;
    color: #777;
}
.semesters p {
    width: 100%;
    margin: 15px 0;
}
.semesters ul li {
    margin: 15px 0;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* ---------- search ------------ */
#search span {
    white-space: nowrap;
}
#search {
    text-align: center;
    margin-bottom: 15px;
}

#search h2 sup {
    font-size: 15px;
    cursor: pointer;
}
.modal-content p p {
    background: lightgray;
    border: 1px solid gray;    
}
.search-input {
    text-align: center;
    display: inline-block;
    background: #fff3f3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 5px;
}

.note-btn {
    display: block;
    box-sizing: border-box;
    background: #ffe0e0;
    padding: 10px; 
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    max-width: 350px;
}
.note-btn:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
#notes-list, #subjects-list {
    text-align: center;
}
#notes-list div, #subjects-list div {
    margin: 10px;
    display: inline-block;
}
section div hr {
    width: 50%;
    color: lightgray;
}

section div div hr {
    width: 100%;
    color: lightgray;
}
hr {
    width: 100%;
    color: lightgray;
}


/*---- cute button -----*/
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a);
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

@function hsb-saturate($s, $a) {
  @if $s == 0 {
    @return 0;
  } @else {
    @return $s + $a;
  }
}

@mixin buttonize($h, $s, $b, $light: 0) {

  $color: hsb($h, $s, $b);
  $color-dark: hsb($h, hsb-saturate($s, 10), $b);
  $inset-top: inset 0 1px 0 hsb($h, $s - 20, $b + 10);
  $inset-bottom: inset 0 -1px 0 hsb($h, hsb-saturate($s, 10), $b - 10);
  $inset: inset 0 0 0 1px hsb($h, hsb-saturate($s, - 10), $b);

  background-color: $color;
  background-image: linear-gradient(to bottom, $color, $color-dark);
  border: 1px solid hsb($h, hsb-saturate($s, 20), $b - 20);
  box-shadow: $inset-top,
              $inset-bottom,
              $inset,
              0 2px 4px rgba(black, 0.2);

  @if $light == 1 {
    color: hsb($h, hsb-saturate($s, 40), $b - 40);
    text-shadow: 0 1px 0 rgba(white, 0.5);
  } @else {
    color: white;
    text-shadow: 0 1px 2px rgba(black, 0.3);
  }

  &:hover,
  &:focus {
    background: $color-dark;
    border-color: hsb($h, hsb-saturate($s, 40), $b - 40);
    box-shadow: $inset-top,
                $inset-bottom,
                $inset;
  }

  &:active {
    background: $color-dark;
    box-shadow: inset 0 2px 3px rgba(black, 0.2);
  }

  .fa {
    color: hsb($h, hsb-saturate($s, 20), $b - 20);
    text-shadow: 0 1px 0 rgba(white, 0.3);
  }

}

strong{ font-weight: bold;}

.button{ @include buttonize(0, 0, 95, 1); border-radius: 3px; cursor: pointer; display: inline-block; font-family: Verdana, sans-serif; font-size: 12px; font-weight: 400; line-height: 20px; padding: 9px 16px 9px; margin: 5px 0px 0px 5px; transition: all 20ms ease-out; vertical-align: top;}
.button-blue{ @include buttonize(199, 71, 89);}
.button-green{ @include buttonize(97, 42, 80);}
.button-purple{ @include buttonize(249, 34, 73);}
.button-orange{ @include buttonize(26, 77, 96);}
.button-red{ @include buttonize(4, 58, 93);}
.button-yellow{ @include buttonize(49, 54, 99, 1);}
.button .fa{ float: left; font-size: 14px; line-height: 20px; margin: -1px 8px 0 -4px; vertical-align: top;}


/* --------- modal -------- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* ---------- footer -------*/
.small-footer {
    margin: auto;
    text-align: center;
    padding-top: 030px;
}
hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ddd;
    margin: 0; 
    padding: 0; 
}
.small-footer hr { 
    border-top: 1px solid #bbb;
}
.social-media {
    list-style: none;
    list-style-position: inside;
    font-size: 16px;
    display: inline-block;
}
.footer-column-1 {
    text-align: left;
    margin: 0 20px;
    color: gray;
    flex-basis: 23%; 
    min-width: 190px;
    font-size: 16px;
}
.footer-column-2 {
    color: gray;
    flex-basis: 73%; 
    text-align: center;
    font-size: 16px;
    padding: 0px 20px ;
    text-align: center;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.footer-col-3 {
    flex-basis: 71%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
